@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using VisistorHouseMVC.DTOs.AdminDto
@using VisistorHouseMVC.Data
@using VisistorHouseMVC.Data.Static
@using VisistorHouseMVC.Helpers
@model IndexDto
@inject StoreContext _context;
@inject UserManager<User> _userManager;
@{
    ViewData["Title"] = "Admin";

    Pager userPager = new Pager();
    int userPageNo = 0;
    if (ViewBag.UserPager != null)
    {
        userPager = ViewBag.UserPager;
        userPageNo = userPager.CurrentPage;
    }

    Pager productPager = new Pager();
    int productPageNo = 0;
    if (ViewBag.ProductPager != null)
    {
        productPager = ViewBag.ProductPager;
        productPageNo = productPager.CurrentPage;
    }

    Pager productUserPager = new Pager();
    int productUserPageNo = 0;
    if (ViewBag.ProductUserPager != null)
    {
        productUserPager = ViewBag.ProductUserPager;
        productUserPageNo = productUserPager.CurrentPage;
    }
}
<div class="container rounded bg-white my-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <table class="table caption-top border">
                <caption>
                    Danh sách người dùng <strong>(@Model.Users.Count())</strong>
                    <br />
                    <form class="mt-1" role="search" asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-7">
                                <input value="@ViewData["searchUser"]" name="searchUser" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" value="Tìm" class="btn btn-success">Tìm</button>
                            </div>
                            <div class="col-md-2">
                                <a asp-action="Index" class="btn btn-primary">Hủy</a>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </caption>
                <thead>
                    <tr>

                        <th scope="col">
                            @if (ViewData["sortUser"] == null || ViewData["sortUser"].ToString() == "za")
                            {
                                <a class=""
                               asp-action="Index"
                               asp-route-sortUser="az"
                               asp-route-searchUser="@ViewData["searchUser"]">
                                    Người dùng
                                </a>
                            }
                            else
                            {
                                <a class=""
                               asp-action="Index"
                               asp-route-sortUser="za"
                               asp-route-searchUser="@ViewData["searchUser"]">
                                    Người dùng
                                </a>
                            }
                        </th>
                        <th scope="col">Vai trò</th>
                        <th><strong class="text-danger">Thành admin</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.Users)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>
                                @{
                                    var role = await _userManager.GetRolesAsync(item);
                                }
                                @role[0]
                            </td>
                            <td>
                                @if (role[0] == UserRoles.Member)
                                {
                                    <a asp-controller="Admin" asp-action="ChangeRole" asp-route-id="@item.Id" class="btn btn-danger ">Đổi</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav>
                @if (userPager.TotalPages > 0)
                {
                    <ul class="pagination justify-content-end">
                        @for (var pge = userPager.StartPage; pge <= userPager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == userPager.CurrentPage ? "active" : "")">
                                <a class="page-link"
                           asp-controller="Admin"
                           asp-action="Index"
                           asp-route-sortUser="@ViewData["sortUser"]"
                           asp-route-searchUser="@ViewData["searchUser"]"
                           asp-route-searchProductOfUser="@ViewData["searchProductOfUser"]"
                           asp-route-pg1="@pge"> @pge </a>
                            </li>
                        }
                    </ul>
                }
            </nav>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-10">
                    <table class="table caption-top border">
                        <caption>
                            Danh sách tin <strong>(@Model.Products.Count())</strong>
                        </caption>

                        <thead>
                            <tr>
                                <th scope="col">Tiêu đề</th>
                                <th scope="col">Danh mục</th>
                                <th scope="col">
                                    @if (ViewData["sortPrice"] == null || ViewData["sortPrice"].ToString() == "asc")
                                    {
                                        <a class=""
                                       asp-action="Index"
                                       asp-route-sortPrice="desc"
                                       asp-route-productStatus="@ViewData["productStatus"]"
                                       asp-route-productType="@ViewData["productType"]">
                                            Giá
                                        </a>
                                    }
                                    else
                                    {
                                        <a class=""
                                       asp-action="Index"
                                       asp-route-sortPrice="asc"
                                       asp-route-productStatus="@ViewData["productStatus"]"
                                       asp-route-productType="@ViewData["productType"]">
                                            Giá
                                        </a>
                                    }

                                </th>
                                <th scope="col">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Products)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.ProductType.Name</td>
                                    <td>@item.Price VNĐ</td>
                                    <td>@item.ProductStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <nav>
                        @if (productPager.TotalPages > 0)
                        {
                            <ul class="pagination justify-content-end">
                                @for (var pge = productPager.StartPage; pge <= productPager.EndPage; pge++)
                                {
                                    <li class="page-item @(pge == productPager.CurrentPage ? "active" : "")">
                                        <a class="page-link"
                                   asp-action="Index"
                                   asp-route-sortPrice="@ViewData["sortPrice"]"
                                   asp-route-productStatus="@ViewData["productStatus"]"
                                   asp-route-productType="@ViewData["productType"]"
                                   asp-route-pg2="@pge"> @pge </a>
                                    </li>
                                }
                            </ul>
                        }
                    </nav>
                </div>
                <div class="col-md-2">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action active" aria-current="true">
                            Lọc tin
                        </div>
                        @foreach (var item in _context.ProductTypes.ToList())
                        {
                            <a class="list-group-item list-group-item-action"
                           asp-action="Index"
                           asp-route-productStatus="@ViewData["productStatus"]"
                           asp-route-productType="@item.Name">
                                @item.Name
                            </a>
                        }
                        @foreach (var item in Enum.GetValues(typeof(ProductStatus)).Cast<ProductStatus>().ToList())
                        {
                            <a class="list-group-item list-group-item-action"
                           asp-action="Index"
                           asp-route-productType="@ViewData["productType"]"
                           asp-route-productStatus="@item.ToString()">
                                @item.ToString()
                            </a>
                        }
                    </div>
                    <div class="list-group">
                        <a asp-action="Index" class="list-group-item list-group-item-action list-group-item-danger">Xóa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <table class="table caption-top border">
                <caption>Danh sách danh mục <strong>(@Model.ProductTypes.Count())</strong></caption>
                <thead>
                    <tr>
                        <th scope="col">Danh mục</th>
                        <th scope="col">Số lượng tin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.ProductTypes)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <th>
                                @{
                                    var productInTypes = await _context.Products.Where(p => p.ProductType.Id == item.Id).ToListAsync();
                                }
                                @productInTypes.Count()
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <form asp-action="CreateProductType">
                    <div class="row">
                        <div class="col-md-8">
                            <input asp-for="ProductInTypeDto.Name" type="text" class="form-control me-2" />
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success profile-button" type="submit">Tạo mới</button>
                        </div>
                    </div>
                    <p><i class="text-danger">@TempData["FailedCreateProductType"]</i></p>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table caption-top border">
                <caption>
                    Thống kê tin tức
                    <br />
                    <form class="mt-1" role="search" asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-7">
                                <input value="@ViewData["searchProductOfUser"]" name="searchProductOfUser" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" value="Tìm" class="btn btn-success">Tìm</button>
                            </div>
                            <div class="col-md-2">
                                <a asp-action="Index" class="btn btn-primary">Hủy</a>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                    </form>
                </caption>
                <thead>
                    <tr>
                        <th scope="col">
                            @if (ViewData["sortUserOfProduct"] == null || ViewData["sortUserOfProduct"].ToString() == "za")
                            {
                                <a class=""
                               asp-action="Index"
                               asp-route-sortUserOfProduct="az"
                               asp-route-searchProductOfUser="@ViewData["searchProductOfUser"]">
                                    Người dùng
                                </a>
                            }
                            else
                            {
                                <a class=""
                               asp-action="Index"
                               asp-route-sortUserOfProduct="za"
                               asp-route-searchProductOfUser="@ViewData["searchProductOfUser"]">
                                    Người dùng
                                </a>
                            }
                        </th>
                        <th scope="col">
                            @if (ViewData["sortProductCount"] == null || ViewData["sortProductCount"].ToString() == "asc")
                            {
                                <a class=""
                               asp-action="Index"
                               asp-route-sortProductCount="desc"
                               asp-route-searchProductOfUser="@ViewData["searchProductOfUser"]">
                                    Số bài viết đã đăng
                                </a>
                            }
                            else
                            {
                                <a class=""
                               asp-action="Index"
                               asp-route-sortProductCount="asc"
                               asp-route-searchProductOfUser="@ViewData["searchProductOfUser"]">
                                    Số bài viết đã đăng
                                </a>
                            }
                        </th>
                        <th scope="col">
                            @if (ViewData["sortProductRented"] == null || ViewData["sortProductRented"].ToString() == "asc")
                            {
                                <a class=""
                               asp-action="Index"
                               asp-route-sortProductRented="desc"
                               asp-route-searchProductOfUser="@ViewData["searchProductOfUser"]">
                                    Số bài đã được thuê
                                </a>
                            }
                            else
                            {
                                <a class=""
                               asp-action="Index"
                               asp-route-sortProductRented="asc"
                               asp-route-searchProductOfUser="@ViewData["searchProductOfUser"]">
                                    Số bài đã được thuê
                                </a>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.ProductOfUserDtos)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <th>
                                @item.ProductCount
                            </th>
                            <th>

                                @item.RentedProducts
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
            <nav>
                @if (productUserPager.TotalPages > 0)
                {
                    <ul class="pagination justify-content-end">
                        @for (var pge = productUserPager.StartPage; pge <= productUserPager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == productUserPager.CurrentPage ? "active" : "")">
                                <a class="page-link"
                           asp-controller="Admin"
                           asp-action="Index"
                           asp-route-sortUserOfProduct="@ViewData["sortUserOfProduct"]"
                           asp-route-searchProductOfUser="@ViewData["searchProductOfUser"]"
                           asp-route-pg3="@pge"> @pge </a>
                            </li>
                        }
                    </ul>
                }
            </nav>
        </div>
        <div class="col-md-1"></div>
    </div>
    @*    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-1"></div>
    </div>*@
</div>